<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
    <style>
    table, th, td {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center
    }
</style>
</head>
<body>
<div>Hi <b>Admin</b>,<br></div>

<div> Here is the List of Most Downloads: <br><br>
    <table style="width:100%">
        <tr>
            <th>Book Id</th>
            <th>Number of Downloads</th>
            <th>User Id</th>
        </tr>
        <tr th:each="mostDownload : ${mostDownloads}">
            <td th:text="${mostDownload.bookName}"></td>
            <td th:text="${mostDownload.dno}"></td>
            <td th:text="${mostDownload.firstName}"></td>
        </tr>
    </table>
</div>

</body>
</html>