
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Email</title>
</head>
<body>

<div>Hi <b th:text="${userName}"></b>  Welcome to OBR !!!</div>
<div>Our Online Book Reader is a new platform where you can explore new face of reading of your favourites book.
   You can read and download all types of books from our store.
   A Reader lives a thousand lives before he dies.....
   Thank you for your purchase for <b th:text="${bookName}"></b> from our OBR. Continue purchasing and explore your knowledge through reading.</div>
<div>You can Only download this book for 3 times.
   Enjoy your reading with OBR.. </div>
    <div>  Once again Thank You <b th:text="${userName}"></b> </div>


</body>
</html>